body {
	font-family:Arial;
	color:white;
	background-color:#910000;
}
#header {
	z-index: 1000 !important;
	position:fixed;
	top:0;
	background-color:red;
	width:100%;
	left:0%;
	padding-left:10px;
}
#main_container {
	position:absolute;
}
h1 {
	color:white;
}
h2 {
	color:#ffe500;
}
p {
	color:white;
}
.toggle {
	color:#ffe500;
	width:300px;
}
.toggle:hover {
	color:#ff8800;
	cursor:pointer;
}
.group {
	width:100%;
	overflow:hidden;
	border-bottom:2px solid white;
	
}
input[type=checkbox] {
	position:relative;
	top:4px;
    padding-left:5px;
    padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;

    -webkit-appearance:button;

    border: double 2px #ff0000;

    background-color:#910000;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:10px;
    height:10px;
}

input[type=checkbox]:checked {
    background-color:#ffe500;
}

input[type=checkbox]:hover {
	cursor:pointer;
	border: double 2px #ff8800;
}

label:hover {
	cursor:pointer;
}

#randomize {
    padding-left:5px;
    padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;

    -webkit-appearance:button;

    border: double 2px #ff0000;

    background-color:#c90000;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:120px;
    height:40px;
	font-style:bold;
	font-size:20px;
}
#randomize:hover {
	background-color:#ff8800;
	color:#910000;
	cursor:pointer;
}